dist
node_modules
coverage
playwright-report
test-results
.angular
package-lock.json
**/*.generated.ts
projects/design-system/src/lib/styles/tokens.css
projects/design-system/src/lib/styles/_tokens.scss
